# Some folders
__pycache__
**/__pycache__

# files
pythonworkspace.code-workspace
*.txt
*.db
**/.dockerignore
!requirements.txt
**/venv/*
**/.DS_Store

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
terraform-*.json